---

---

<div class="text-center">
  {/* TODO: Scroll to top when already on main page */}
  <a
    href="/"
    class:list={[
      'text-stone-500 hover:text-black',
      'dark:text-stone-400 dark:hover:text-stone-300',

      'select-none',
      'inline-block w-[2.0625rem] md:w-[2.5rem]',
      'font-normal hover:font-black',
      'transition-[color,font-weight]',
    ]}
  >
    RD
  </a>
</div>
