---
import { Social } from '@site-types/social';
import { Constants } from 'src/utilities/constants';
import LinkButton from '../common/LinkButton.astro';
import Logo from '../sidebar/Logo.astro';

const { pathname } = Astro.url;

type Props = {
  alwaysShowLogo?: boolean;
};
const { alwaysShowLogo = false } = Astro.props;
---

<header
  class:list={[
    'header',
    'BACKGROUND_DYNAMIC_COLOR',
    'TEXT_DYNAMIC_COLOR',
    '!bg-opacity-70 dark:!bg-opacity-50',
    'backdrop-blur',
    'sticky top-0 w-full h-[--header-height]',
    'flex items-center',
    'gap-x-1 md:gap-x-5 lg:gap-x-6',
    'px-3 md:px-5',
    'py-4 text-sm font-display justify-end',
    'TEXT_MEDIUM',
    'z-10',
  ]}
>
  <div class:list={['text-xl grow flex', !alwaysShowLogo && 'sm:hidden']}>
    <Logo />
  </div>
  <LinkButton
    label="Experiments"
    href="/experiments"
    isActive={pathname === '/experiments'}
  />
  <LinkButton
    label="Blog"
    href="/blog"
    isActive={pathname.startsWith('/blog')}
  />
  <LinkButton
    label={Social.GITHUB}
    href={Constants.social.GITHUB_URL}
    rightIcon="heroicons-outline:external-link"
    targetBlank
  />
  {/* TODO: Restore button */}
  <!-- <div class="relative">
    <Button label="Resume" />
  </div> -->
</header>
