@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .TEXT_DYNAMIC_SPACING {
    @apply tracking-normal dark:tracking-wide;
  }

  .BORDER_DYNAMIC_COLOR {
    @apply border-gray-300 dark:border-gray-700;
  }

  .LINK_DYNAMIC_HOVER {
    @apply hover:text-blue-600 dark:hover:text-blue-300;
  }

  .LINK_DYNAMIC_NO_HOVER {
    @apply text-blue-600 dark:text-blue-300;
  }
}

/*
 * The following are adapted from
 * https://github.com/RichDom2185/2023-website/blob/main/src/utils/styles.ts
 */
@layer utilities {
  .TEXT_BOLD {
    @apply font-bold dark:font-semibold;
  }

  .TEXT_NORMAL {
    @apply font-normal dark:font-light;
  }

  .TEXT_MEDIUM {
    @apply font-medium dark:font-normal;
  }

  .BACKGROUND_DYNAMIC_COLOR {
    @apply bg-white dark:bg-zinc-900;
  }

  .TEXT_DYNAMIC_COLOR {
    @apply text-zinc-900 dark:text-stone-400;
  }

  .TEXT_STATIC_BLACK {
    @apply text-zinc-900;
  }
}

@layer components {
  .SECTION_BODY_RESPONSIVE {
    @apply w-full lg:w-5/6 mx-auto underline-offset-4 dark:tracking-wide;
  }

  .MARKDOWN_CONTAINER {
    @apply [&>ul_li]:list-disc [&>ul_li]:ml-4;
    @apply [&>*_a]:underline [&>*_a]:decoration-dotted [&>*_a:hover]:hover:decoration-solid;
    @apply [&>*_a:hover]:text-blue-600 [&>*_a:hover]:dark:text-blue-300;
  }
}

/* 
 * Avoid CLS from icons
 * See: https://iconify.design/docs/iconify-icon/#layout-shift
 */
iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}
