---
import Header from '../header/Header.astro';
import Sidebar from '../sidebar/Sidebar.astro';

type Props = {
  withSidebar?: boolean;
  withHeader?: boolean;
};
const { withSidebar = false, withHeader = false } = Astro.props;
---

<div class="flex transition-colors duration-100">
  {withSidebar && <Sidebar hideOnMobile />}
  <div class="w-full">
    {withHeader && <Header />}
    <slot />
  </div>
</div>
