---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header
  class:list={[
    // 'BACKGROUND_DYNAMIC_COLOR',
    // 'TEXT_DYNAMIC_COLOR',
    'bg-opacity-70',
    'dark:bg-opacity-50',
    'backdrop-blur',
    'sticky',
    'top-0',
    // 'z-50',
    'w-full',
    // 'h-[--header-height]',
    // 'flex',
    // 'gap-x-4',
    // 'items-center',
    // 'py-4',
    // 'px-5',
    'text-sm',
    // 'font-display',
    // 'justify-between',
    // 'TEXT_MEDIUM',
  ]}
>
  <nav class="flex justify-between items-center">
    <h2>
      <a
        href="/"
        class:list={[
          'text-xl md:text-xl',
          'hover:text-bold',
          'dark:text-stone-300',
          'dark:hover:text-stone-300',
          'select-none',
          'inline-block',
          'font-normal hover:font-black',
          'transition-[color,font-weight]',
        ]}>{SITE_TITLE}</a
      >
    </h2>
    <div>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    {/* TODO: Social Links */}
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    /* background: white; */
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }

  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }

  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
