---
import { ViewTransitions } from 'astro:transitions';
import { SITE_TITLE } from 'src/consts';
import 'src/styles/global.css';
import 'src/styles/mainsite.css';

type Props = {
  light?: boolean;
  dark?: boolean;
};
const { light = false, dark = false } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <ViewTransitions />
    {/* TODO: Deduplicate with BaseHead */}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <meta name="theme-color" content="#000000" />
    <title>{SITE_TITLE}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"
    ></script>
  </head>
  <body class:list={[light && 'light', dark && 'dark']}>
    <div id="root"><slot /></div>
  </body>
</html>
