---
import { ViewTransitions } from 'astro:transitions';
import FontMeta from 'src/components/head/FontMeta.astro';
import GlobalMeta from 'src/components/head/GlobalMeta.astro';
import GoogleTag from 'src/components/head/GoogleTag.astro';
import IconifyMeta from 'src/components/head/IconifyMeta.astro';
import { SITE_TITLE } from 'src/consts';
import 'src/styles/global.css';
import 'src/styles/mainsite.css';

type Props = {
  light?: boolean;
  dark?: boolean;
};
const { light = false, dark = false } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <ViewTransitions />
    <GoogleTag />
    {/* TODO: Deduplicate with BaseHead */}
    {/* TODO: meta canonical */}
    {/* TODO: viewtransitions bug with click listener */}
    <GlobalMeta />
    <FontMeta />
    <title>{SITE_TITLE}</title>
    <IconifyMeta />
  </head>
  <body class:list={[light && 'light', dark && 'dark']}>
    <div id="root"><slot /></div>
  </body>
</html>
